<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citizen-Choice: Right to Vote</title>
    <link rel="stylesheet" href="/static/css/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="nav1">
            <img src="/static/images/Emblem1.jpg">
            <div class="nav-items">
                <i class="fa-solid fa-house"></i>
                <a href="homepage.html">Home</a>
            </div>
            <div class="nav-items">
                <i class="fa-solid fa-tag"></i>
                <a href="####">Parties & Symbols</a>
            </div>
            <div class="nav-items">
                <i class="fa-solid fa-newspaper"></i>
                <a href="####">News</a>
            </div>
            <div class="nav-items">
                <i class="fa-solid fa-user"></i>
                <a href="####">About us</a>
            </div>
        </div>
        <div class="marque"><marquee behavior="alternate" direction="left">The site will not be accessible between 00:00 hrs to 01:00 hrs on every Sunday, due to maintenance activity.</marquee>
        </div>
        <div class="banner">
            <img src="/static/images/goi.jpeg">
        </div>
        <div class="nav2">
            <div class="nav-items1">
                <i class="fa-solid fa-house"></i>
                <a href="homepage.html">Home</a>
            </div>
            <div class="nav-items1">
                <i class="fa-solid fa-tag"></i>
                <a href="####">Parties & Symbols</a>
            </div>
            <div class="nav-items1">
                <i class="fa-solid fa-newspaper"></i>
                <a href="####">News</a>
            </div>
            <div class="nav-items1">
                <i class="fa-solid fa-user"></i>
                <a href="####">About us</a>
            </div>
        </div>
    </div>
    <div class="page2">
        <div class="sidebar">
            <a class="register" href="/register" role="button">Registration</a>
            <a class="login" href="/login" role="button">Login here</a>
            <a class="voter-id" href="https://eci.gov.in/voter/voter-registration/" role="button">Apply For voter-id Card</a>
            <a class="givevote" href="/givevote" role="button">Give Vote</a>
        </div>
        <div class="guidelines">
            <h1>Guidelines</h1>
            <ul>
                <li> To eliminate paper in the voting process. This involves sending of notices and ballot papers and receiving the said ballot votes.</li>
                <li> Facilitate electronic voting on resolutions of companies in a fair and transparent manner for all classes of security/stakeholders.</li>
                <li> Enable security holders to vote at a time and place of their convenience.</li>
                <li> Eliminate postal and other natural delays which cause a hindrance to postal ballot.</li>
                <li> Increase shareholder participation in shareholder meetings.</li>
            </ul>
        </div>
        <div class="faq">
            <h1>Frequently Asked Questions</h1>
            <!-- Add your FAQ content here -->
        </div>
        <div class="policy">
            <div class="contact">
                <h3>Contact Us</h3>
                <button>Toll Free: 1947</button><br>
                <button>help@eci.gov.in</button>
            </div>
            <h2>Government of India</h2>
            <a href="https://www.india.gov.in/">National Portal of India</a><br>
            <a href="https://www.mygov.in/">MyGov</a><br>
            <a href="https://digitalindia.gov.in/">Digital India</a><br>
            <a href="https://www.gst.gov.in/">GST.gov.in</a><br>
            <a href="https://dbtbharat.gov.in/">DBT Bharat</a>
        </div>
        <div class="footer">
            <h3>Follow Us:</h3>
            <div class="social_media">
                <ul>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </ul>
            </div>
            <h3>To Collaborate, email to us:</h3>
            <div class="info">
                <h5>anshikatiwari027@gmail.com</h5>
                <h5>rupsy1234@gmail.com</h5>
                <h5>mohitaman4321@gmail.com</h5>
            </div>
            <p>© Copyright 2023 : DISCLAIMER: All information provided in Citizen-Choice is obtained by NSDL from sources believed to be accurate and reliable</p>
        </div>
    </div>
</body>
</html>
