<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Language Selection</title>
</head>
<body>
  <h1>Select Your Language</h1>
  <button onclick="selectLanguage()">Choose Language</button>

  <script src="lang.js"></script>
</body>
</html>
