<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Parties & Symbols</title>
    <link rel="stylesheet" type="text/css" href="static/css/votes.css">
</head>
<body>
    <div class="user-info">
        <h1>सत्यमेव जयते नानृतं सत्येन पन्था विततो देवयानः।<br> येनाक्रमंत्यृषयो ह्याप्तकामो यत्र तत्सत्यस्य परमं निधानम्॥</h1>

        </div>
<div class="voting-container">
  <table>
    <tr>
      <th>Party</th>
      <th>Symbol</th>
    
    </tr>
    <tr>
      <td>Bharatiya Janata Party</td>
      <td><img src="/static/images/bjp.jpeg"></td>
      
    </tr>
    <tr>
      <td>Indian National Congress</td>
      <td><img src="/static/images/congress.png"></td>
      
    </tr>
    <tr>
        <td>Aam Aadmi Party</td>
        <td><img src="/static/images/aap.jpeg"></td>
        
      </tr>
      <tr>
        <td>Bahujan Samaj Party</td>
        <td><img src="/static/images/bsp.png"></td>
       
      </tr>
      <tr>
        <td>National Congress Party</td>
        <td><img src="/static/images/inc.jpeg"></td>
        
      </tr>
      <tr>
        <td>Communist Party Of India</td>
        <td><img src="/static/images/ipc.jpeg"></td>
        
      </tr>
      <tr>
        <td>Communist Party Of India(Marxist)</td>
        <td><img src="/static/images/cpi-m.png"></td>
       
      </tr>
      <tr>
        <td>Indian National Lok Dal</td>
        <td><img src="/static/images/inld.png"></td>
        
      </tr>
      <tr>
        <td>Samajwadi Party</td>
        <td><img src="/static/images/samajvadi.jpeg"></td>
       
      </tr>
      <tr>
        <td>NOTA</td>
        <td><img src="/static/images/nota.jpeg"></td>
       
      </tr>
  </table>
    </body>
</html>