/* Add your custom styles here */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: beige;
    background-color: #05445E;
}

.main, .nav1, .nav2, .banner, .page2 {
    width: 100%;
    background-color: white;
}

.nav1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 80px;
    background-color: #05445E;
}

.nav1 img {
    position: relative;
    right: 300px;
}

.nav-items {
    display: inline;
    margin-left: 100px;
    color: beige;
    text-decoration: none;
}

.marque {
    background-color: #75E6DA;
    color: #05445E;
    height: 45px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.banner {
    height: 300px;
    background-image: url('/static/images/goi.jpeg');
    background-size: cover;
}

.nav2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 60px;
    background-color: #05445E;
}

.nav-items1 {
    display: inline;
    margin-left: 100px;
    color: beige;
    text-decoration: none;
}

.page2 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar {
    background-color: rgba(19, 1, 66, 0.734);
    border-radius: 1rem;
    padding: 20px;
    text-align: center;
}

.sidebar a {
    display: block;
    width: 100%;
    background-color: #05445E;
    color: #D4F1F4;
    padding: 10px;
    margin: 10px 0;
    border-radius: 1rem;
    text-decoration: none;
}

.sidebar a:hover {
    opacity: 0.7;
}

.guidelines, .faq {
    margin: 20px;
    padding: 20px;
    background-color: #D4F1F4;
    border-radius: 1rem;
    color: #05445E;
    text-align: left;
}

.guidelines h1, .faq h1 {
    color: #05445E;
    font-size: 2rem;
}

.guidelines li {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}

.policy {
    background-color: #94D2E6;
    padding: 20px;
    border-radius: 1rem;
    color: #05445E;
    text-align: left;
}

.contact h3 {
    font-size: 1.5rem;
}

.contact button {
    margin: 5px 0;
    font-size: 1.2rem;
    color: #333;
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.policy h2 {
    font-size: 2rem;
}

.policy a {
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
}

.footer {
    background-color: #189AB4;
    padding: 20px;
    text-align: center;
}

.footer h3, .footer h5, .footer p {
    color: beige;
}

.social_media a {
    font-size: 2rem;
    margin: 0 10px;
    color: #D4F1F4;
    text-decoration: none;
}

